.App > header {
  text-align: center;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 1;
}

.header-border {
  background-color: #f3ebe7;
  position: fixed;
  top: 70px;
  height: 18px;
  border: 0px solid #acb5b9;
  border-top-width: 8px;
  border-bottom-width: 5px;
  z-index: 1;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 30px 0px 10px;
}

main {
  position: relative;
  top: 88px;
  padding: 10px;
}

header,
.header-border,
main {
  width: 100%;
  box-sizing: border-box;
}
